@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
}
body{
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}
.result{
    display: flex;
    justify-content: center;
    font-size: xx-large;
    font-weight: bold;
    position: relative;
    margin: 10px;
}

.spam{
    color: red;
    font-weight: bold;
}

.ham{
    color: green;
    font-weight: bold;
}

.feedback{
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
}


.back{
    position: absolute;
    top: 0px;
    right: 0px;
    text-decoration: none;
}

.back button{
    width: 80px;
    height: 30px;
    cursor: pointer;
}

.like{
    width: 80px;
    height: 28px;
    font-size: 15px;
    text-align: center;
    background-color: #D9AFD9;
background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);

}

.dislike{
    width: 80px;
    height: 28px;
    font-size: 15px;
    text-align: center  ;
    background-color: #D9AFD9;
background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);

}

.feedback-message{
    font-size: x-large;
}

.feedback-question{
    font-size: x-large;
}

.feedback>*{
    margin: 10px;
}

.message{
    font-size: x-large;
}